//////////////////////////////////////////////////////////////////////////
//
// Mouse keys (keyboard mouse control) requires v24.12 firmware or newer:
// override the "HID_POINTING" setting to "y" in Advanced Configuration
// and then select "v24.12" firmware from the drop-down menu located at
// Glove80 Layout Editor > Settings > Advanced Settings > Firmware Version
//
// Alternatively, you can still use the older PR23 beta firmware for this:
// select "community.pr23.mouse-keys" from the drop-down menu located at
// Glove80 Layout Editor > Settings > Advanced Settings > Firmware Version
//
// - https://github.com/moergo-sc/zmk/pull/23
// - https://gist.github.com/krissen/dd27082e7ab0575619c7a31f4d2ec7ae
// - https://github.com/zmkfirmware/zmk/compare/main...urob:zmk:mouse-3.2
//
//////////////////////////////////////////////////////////////////////////

//
// MOUSE_MOTION_DELAY defines how long to wait (milliseconds) before starting
// to move the mouse pointer.
//
#ifndef MOUSE_MOTION_DELAY
#define MOUSE_MOTION_DELAY 0
#endif

//
// MOUSE_MOTION_ACCELERATION_EXPONENT sets how the mouse pointer accelerates:
//
// acceleration exponent 0: uniform speed
// acceleration exponent 1: uniform acceleration
// acceleration exponent 2: uniform jerk
//
#ifndef MOUSE_MOTION_ACCELERATION_EXPONENT
#define MOUSE_MOTION_ACCELERATION_EXPONENT 1
#endif

//
// MOUSE_MOTION_TIME_TO_MAXIMUM_SPEED defines how long to wait (milliseconds)
// before the mouse pointer speed is suddenly boosted to the maximum value.
//
#ifndef MOUSE_MOTION_TIME_TO_MAXIMUM_SPEED
#define MOUSE_MOTION_TIME_TO_MAXIMUM_SPEED 300
#endif

//
// MOUSE_MOTION_MAXIMUM_SPEED defines how quickly the mouse pointer can move.
//
#ifndef MOUSE_MOTION_MAXIMUM_SPEED
#define MOUSE_MOTION_MAXIMUM_SPEED 600
#endif

//
// MOUSE_SCROLL_DELAY defines how long to wait (milliseconds) before starting
// to move the mouse pointer.
//
#ifndef MOUSE_SCROLL_DELAY
#define MOUSE_SCROLL_DELAY 0
#endif

//
// MOUSE_SCROLL_ACCELERATION_EXPONENT sets how the mouse pointer accelerates:
//
// acceleration exponent 0: uniform speed
// acceleration exponent 1: uniform acceleration
// acceleration exponent 2: uniform jerk
//
#ifndef MOUSE_SCROLL_ACCELERATION_EXPONENT
#define MOUSE_SCROLL_ACCELERATION_EXPONENT 0
#endif

//
// MOUSE_SCROLL_TIME_TO_MAXIMUM_SPEED defines how long to wait (milliseconds)
// before the mouse pointer speed is suddenly boosted to the maximum value.
//
#ifndef MOUSE_SCROLL_TIME_TO_MAXIMUM_SPEED
#define MOUSE_SCROLL_TIME_TO_MAXIMUM_SPEED 300
#endif

//
// MOUSE_SCROLL_MAXIMUM_SPEED defines how quickly the mouse wheel can scroll.
//
#ifndef MOUSE_SCROLL_MAXIMUM_SPEED
#define MOUSE_SCROLL_MAXIMUM_SPEED 10
#endif

#if __has_include(<zmk/events/mouse_tick.h>) || ( \
    defined(MOERGO_FIRMWARE_VERSION_MAJOR) &&     \
    defined(MOERGO_FIRMWARE_VERSION_MINOR) && (   \
        MOERGO_FIRMWARE_VERSION_MAJOR == 24 &&    \
        MOERGO_FIRMWARE_VERSION_MINOR == 12 ||    \
        MOERGO_FIRMWARE_VERSION_MAJOR >  24       \
    )                                             \
)
  // ==== MOUSE-KEY <section begins> ====
  #define ZMK_MOUSE_DEFAULT_MOVE_VAL MOUSE_MOTION_MAXIMUM_SPEED
  #define ZMK_MOUSE_DEFAULT_SCRL_VAL MOUSE_SCROLL_MAXIMUM_SPEED
  #include <dt-bindings/zmk/mouse.h>
  &mmv {
    delay-ms = <MOUSE_MOTION_DELAY>;
    acceleration-exponent = <MOUSE_MOTION_ACCELERATION_EXPONENT>;
    time-to-max-speed-ms = <MOUSE_MOTION_TIME_TO_MAXIMUM_SPEED>;
  };
  &msc {
    delay-ms = <MOUSE_SCROLL_DELAY>;
    acceleration-exponent = <MOUSE_SCROLL_ACCELERATION_EXPONENT>;
    time-to-max-speed-ms = <MOUSE_SCROLL_TIME_TO_MAXIMUM_SPEED>;
  };
  // ==== MOUSE-KEY <section ends> =====
#else
  #define mkp none
  #define mmv none
  #define msc none
  #define LCLK
  #define MCLK
  #define RCLK
  #define MB1
  #define MB2
  #define MB3
  #define MB4
  #define MB5
  #define MB6
  #define MB7
  #define MB8
  #define MOVE_UP
  #define MOVE_DOWN
  #define MOVE_LEFT
  #define MOVE_RIGHT
  #define SCRL_UP
  #define SCRL_DOWN
  #define SCRL_LEFT
  #define SCRL_RIGHT
#endif

//////////////////////////////////////////////////////////////////////////
//
// Per-key RGB indicators for layers & mods -- requires PR30 beta firmware:
// select "community.pr30.per-key-rgb" from the drop-down menu located at
// Glove80 Layout Editor > Settings > Advanced Settings > Firmware Version
//
//////////////////////////////////////////////////////////////////////////

#if __has_include(<dt-bindings/zmk/rgb_colors.h>)
  // ==== PER-KEY-RGB <section begins> ====
  #include <dt-bindings/zmk/rgb_colors.h>
  / {
    underglow-layer {
      compatible  = "zmk,underglow-layer";

      //
      // color definitions from QMK
      // https://github.com/qmk/qmk_firmware/blob/master/quantum/color.h
      //
      #define AZURE     0x99F5FF // #99F5FF
      #define BLACK     0x000000 // #000000
      #define BLUE      0x0000FF // #0000FF
      #define CHARTRSE  0x80FF00 // #80FF00
      #define CORAL     0xFF7C4D // #FF7C4D
      #define CYAN      0x00FFFF // #00FFFF
      #define GOLD      0xFFD900 // #FFD900
      #define GOLDNROD  0xD9A521 // #D9A521
      #define GREEN     0x00FF00 // #00FF00
      #define MAGENTA   0xFF00FF // #FF00FF
      #define ORANGE    0xFF8000 // #FF8000
      #define PINK      0xFF80BF // #FF80BF
      #define PURPLE    0x7A00FF // #7A00FF
      #define RED       0xFF0000 // #FF0000
      #define SPRINGRN  0x00FF80 // #00FF80
      #define TEAL      0x008080 // #008080
      #define TURQUOIS  0x476E6A // #476E6A
      #define WHITE     0xFFFFFF // #FFFFFF
      #define YELLOW    0xFFFF00 // #FFFF00
      #define ________  BLACK    // #000000

      //
      // color definitions from MoErgo
      // https://github.com/moergo-sc/zmk/blob/aca523dfce9b6447ffd19d833b791d44f1f286de/app/src/rgb_underglow.c#L259-L265
      //
      #define DULL_GRN  0x00ff68 // #00ff68
      #define LILAC     0x6b1fce // #6b1fce

      /*
      Template {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________  ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Template>;
      };
      */

      BaseLayer {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <0>;
      };

      #ifdef LAYER_LeftPinky
      LeftPinky {
        bindings = <
          ________ MAGENTA  ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_LeftPinky>;
      };
      #endif

      #ifdef LAYER_LeftRingy
      LeftRingy {
        bindings = <
          ________ ________ CYAN     ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_LeftRingy>;
      };
      #endif

      #ifdef LAYER_LeftMiddy
      LeftMiddy {
        bindings = <
          ________ ________ ________ GREEN    ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_LeftMiddy>;
      };
      #endif

      #ifdef LAYER_LeftIndex
      LeftIndex {
        bindings = <
          ________ ________ ________ ________ YELLOW                                                                            ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_LeftIndex>;
      };
      #endif

      #ifdef LAYER_RightIndex
      RightIndex {
        bindings = <
          ________ ________ ________ ________ ________                                                                            YELLOW ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_RightIndex>;
      };
      #endif

      #ifdef LAYER_RightMiddy
      RightMiddy {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________    GREEN ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_RightMiddy>;
      };
      #endif

      #ifdef LAYER_RightRingy
      RightRingy {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________     CYAN ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_RightRingy>;
      };
      #endif

      #ifdef LAYER_RightPinky
      RightPinky {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________  MAGENTA ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ MAGENTA  CYAN     GREEN   YELLOW    ________                                                        ________   YELLOW    GREEN     CYAN  MAGENTA ________
          ________ ________ ________ ________ ________ ________ LILAC    CORAL    BLUE          BLUE    CORAL    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    ________  ________    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_RightPinky>;
      };
      #endif

      #ifdef LAYER_Emoji
      Emoji {
        bindings = <
          ________ ________ ________ LILAC    ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ RED       ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ DULL_GRN          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Emoji>;
      };
      #endif

      #ifdef LAYER_Function
      Function {
        bindings = <
          ________ ________ ________ ________ LILAC                                                                             ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ DULL_GRN ________ RED       ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Function>;
      };
      #endif

      #ifdef LAYER_Cursor
      Cursor {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC    ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________     CYAN     CYAN     CYAN     CYAN ________
          ________ ________ ________ ________ ________ ________ ________ ________ RED       ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          DULL_GRN ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Cursor>;
      };
      #endif

      #ifdef LAYER_Number
      Number {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ LILAC                                                           ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ RED       ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ DULL_GRN ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Number>;
      };
      #endif

      #ifdef LAYER_Mouse
      Mouse {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                           LILAC ________ ________ ________ ________ ________
          ________ ________ ________ CYAN     ________ ________                                                        MAGENTA  ________ ________ ________ ________ ________
          ________ GREEN    CYAN     CYAN     CYAN     ________                                                        YELLOW   ________ ________ ________ ________ ________
          ________ GREEN    ________ ________ ________ ________ MAGENTA  ________ ________       RED ________ ________ ORANGE   ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          YELLOW   ORANGE   ________  ________ DULL_GRN ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Mouse>;
      };
      #endif

      #ifdef LAYER_Symbol
      Symbol {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________    LILAC ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________       RED ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ DULL_GRN          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Symbol>;
      };
      #endif

      #ifdef LAYER_System
      System {
        bindings = <
          ________ ________ ________ ________ ________                                                                             LILAC ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________       RED ________ DULL_GRN ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_System>;
      };
      #endif

      #ifdef LAYER_World
      World {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________    LILAC ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ ________ ________       RED ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ ________  ________ ________ ________          DULL_GRN ________ ________ ________ ________
        >;
        layer-id = <LAYER_World>;
      };
      #endif

      #ifdef LAYER_Typing
      Typing {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ ________ DULL_GRN RED            RED DULL_GRN ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             ________ ________ ________  ________ ________ ________             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_Typing>;
      };
      #endif

      #ifdef LAYER_Gaming
      Gaming {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ CYAN     ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ CYAN     CYAN     CYAN     ________ ________ ________ RED       ________ ________ ________ ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________          ________ ________ RED       ________ ________ ________          ________ ________ ________ ________ ________
        >;
        layer-id = <LAYER_Gaming>;
      };
      #endif

      #ifdef LAYER_Lower
      Lower {
        bindings = <
          ________ ________ ________ ________ ________                                                                          ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________                                                        ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ ________ ________ LILAC    GOLD     RED            RED     GOLD    LILAC ________ ________ ________ ________ ________ ________
          ________ ________ ________ ________ LILAC             LILAC    LILAC    CYAN          CYAN    LILAC    LILAC             LILAC ________ ________ ________ ________
        >;
        layer-id = <LAYER_Lower>;
      };
      #endif

    };
  };
  // ==== PER-KEY-RGB <section ends> =====
#endif
